* {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdena, sans-serif;
    font-size: 1.0vw;
    background-color: inherit;
    box-sizing:border-box;
}

html {
    display: grid;
    justify-content: center;
    align-items: center;

    --articleWidth: 49%;
    --columnGap: 2%;
    --titleFontSize: 10rem;
}

html > body {
    width: 80vw;
    background-color: grey;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:
        10%
        auto
        10%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

html > body > * {
    padding: 2.5vw;
    background-color: white;
}

html > body > header#nameplate {
    height: 100%;
    background-color: red;
    color: white;
    grid-area: header;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:
        85% auto;
    grid-template-rows:
        30% auto;
    grid-template-areas:
        " title date "
        " title   .  ";
}

html > body > header#nameplate > h1 {
    grid-area: title;
    font-family: Impact, Charcoal, sans-serif;
    font-size: var(--titleFontSize);
    letter-spacing: calc(.1 * var(--titleFontSize));
    background-color: inherit;
}

html > body > header#nameplate > p#date {
    grid-area: date;
    align-self: baseline;
}

html > body > main {
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-rows:
        35% auto;
    grid-column-gap: var(--columnGap);
    grid-template-areas:
        "first_part "
        "second_part"
}

html > body > main > section {
    width: auto;
    display: grid;
    grid-template-columns:
        var(--articleWidth) var(--articleWidth);
    grid-gap: var(--columnGap);
}

html > body > main > section > article {
    columns: calc(var(--titleFontSize) * 1.4); /* +/-17vw */
}

html > body > main > section > article > figure {
    display: block;
    width: 100%;
}

html > body > main > section > figure > img {
    width: 100%;
}

html > body > main > section > figure > figcaption.credit {
    text-align: center;
}

html > body > main > section > article > header.main_headline {
    column-span: all;
    margin-bottom: calc(var(--titleFontSize) * .2);
}

html > body > main > section > article > header.main_headline > h2.headline {
    font-size: calc(var(--titleFontSize) * .2);
    margin-bottom: calc(var(--titleFontSize) * .2);
}

html > body > main > section > article > figure.figure > img {
    display: block;
  max-width: 100%;
}

footer {
    grid-area: footer;
}
/*
#date {
    align-self: flex-start;
    margin-top: 2rem;
    background-color: inherit;
}

.section {
    height: calc(.5 * 140vh);
    display: grid;
    grid-template-columns:
        50% 48%;
    grid-column-gap: 2%;
    grid-template-areas:
        "pic text";

    margin-top: 2rem;
}
.main_section {}

figure {
    display: inline-block;
}

.main_figure {
    grid-area: pic;
    width: 100%;
}
.cut {
    width: 100%;
}
.credit {
    text-align: center;
    margin-top: .5rem;
}
.article {
    grid-area: text;
    column-count: 2;
    column-gap: 4%;
}

.main_header {
    column-span: all;
    margin-bottom: 1rem;
}

.headline {
    font-size: 2.5rem;
}
.by_line {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.text {
  text-align: justify;
  text-justify: inter-word;
}
.lead {
  font-weight: bold;
}

.secondary_section {
    display: block;
}

.secondary_article {
    column-count: 4;
    column-gap: 2%;
}

.footer {
    display: block;
} */
